@tailwind base;
@tailwind components;
@tailwind utilities;

.password-eye {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 9;
  width: 10px;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px; /* Adjust width as needed */
  height: 5px; /* Adjust height as needed */
}

::-webkit-scrollbar-track {
  background: #f5f5f5; /* Customize track color */
}

::-webkit-scrollbar-thumb {
  background: #999; /* Customize thumb color */
  border-radius: 0px; /* Add rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #ccc; /* Change thumb color on hover */
}